<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/danbplus/schedule/repository/mapper/ScheduleMapper">

	<!-- 스케쥴 등록 -->
	<insert id="scheduleBoardSave"  parameterType="SCB_INFO">
		insert into SCB_INFO(
			title, content, startDt, endDt, registDt
		)
		values (
			#{title}, #{content}, #{startDt}, #{endDt}, #{registDt}
		)
	</insert>

</mapper>